# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ninja
.ninja_*
*-prefix
onenightstand

# Temp files
*.sw?
*.pyc

# Compiled translation files
*.mo
*_pb2.py
*.pb.*

# extracted strings
i18n/onenightstand.pot
